@import "tailwindcss";
  
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.navbar{
  background-color:rgba(255, 255, 255, 0.555);
  backdrop-filter: blur(10px);
}